body {
    background-color: $marfil1;
}


.header {
    height: 64px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 640px 620px 900px 748px 470px;
    @media screen and (max-width:600px){
        grid-template-rows: 80vh 100vh 100vh 100vh 100vh;
    }
}

footer {
    display: flex;
    justify-content: center;
    @media screen and (max-width:600px){
       display: none;
    }
}

.footerContainer {
    max-width: 1200px;
    width: 1200px;
}

.footerFlex {
    display: flex;
}

//Product

.productGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 735px 2275px 748px 470px;
}


//Allies
.alliesGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1050px 640px 748px 470px ;
}

//Team
.teamGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 900px 748px 470px ;
}

//Contact 
.contactGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 748px 470px ;
}