@import "variables";
@import "typos";
@import "elements";
@import "layout";


* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

//HEADER 

.header {
    img {
        height: 36px;
        width: auto;
    }

    div {
        display: flex;
        align-items: center;
        p {
            margin-right: 16px;
        }
        @media screen and (max-width:600px) {
            display: none;
        }
    }

    ul li {
        margin: 16px;
        @media screen and (max-width:600px) {
            display: none;
        }
    }
    @media screen and (max-width:600px){
        padding: 0px 16px;
    }
}

//INDEX PAGE
//HERO

.hero {
    background-image: url('../images/hero-bgimage.jpg');
    background-repeat: no-repeat;
    background-position: right;
    @media screen and (max-width:600px){
        background-position: center;
    }
}

.heroContainer {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width:600px){
        width: 100%;
        align-items: flex-start;
    }
}

.heroContent {
    width: 580px;
    height: 580px;
    background-color: $marfil1;
    display: flex;
    align-items: center;
    @media screen and (max-width:600px){
        width: 100%;
        height: auto;
        padding: 0px 16px;
    }
}

.heroContentText {
    width: 100%;
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        align-items: center;

        a {
            margin-left: 40px;
        }
    }

    h1 {
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 40px;
        @media screen and (max-width:600px){
            width: 100%;
        }
    }
}

//PRODUCT SECTION
.productSection {
    background-color: $green1;
    @media screen and (max-width:600px){
        display: none;
    }
}

.productContent {
    max-width: 1200px;
    padding-top: 100px;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
}

.productText {
    width: 480px;

    h2 {
        margin: 0px 0px 40px 0px;
    }

    p {
        margin: 40px 0px 40px 0px;
    }
}

.productImage {
    width: 515px;
    height: auto;

    img {
        width: 100%;
    }
}

//SHOWCASE SECTION

.showcaseContainer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    @media screen and (max-width:600px){
        display: none;
    }
}

.showcaseText {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: auto;

    h2 {
        width: 470px;
    }

    div {
        width: 480px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-bottom: 40px;
        }
    }
}

.showcaseImages {
    margin-top: 80px;
    height: 460px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sc {
    height: 100%;
    width: 360px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.scOne {
    background-image: url('../images/showcase_image1.png');
    background-repeat: no-repeat;
}

.scTwo {
    background-image: url('../images/showcase_image2.png');
    background-repeat: no-repeat;
}

.scThree {
    background-image: url('../images/showcase_image3.png');
    background-repeat: no-repeat;
}

.featureShowcase {
    background-color: $marfil1;
    height: 64px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

//FORM SECTION

.formSection {
    background-image: url('../images/bg-form.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media screen and (max-width:600px){
        display: none;
    }
}

.formContainer {
    display: flex;
    align-items: flex-end;
}

.formCallout {
    padding: 66px 26px;
    width: 470px;
    height: 200px;
    background-color: $orange1;
}

.formContent {
    p {
        margin-bottom: 16px;
    }
}

//FOOTER

.footerContainer {
    padding-top: 110px;

    a {
        color: $gray3;
    }

    h4 {
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 8px;
    }
}

.footerLogo {
    width: 220px;

    img {
        height: 36px;
        width: auto;
    }
}

.footerMenu {
    width: 220px;
}

.footerAltMenu {
    width: 220px;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
}

//PRODUCT PAGE
//HERO

.productHero {
    background-image: url('../images/product-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
}

.productHeroContainer {
    width: 657px;
    height: 600px;
    background-color: $green1;
}

.productHeroContent {
    width: 400px;
    height: auto;
    padding: 109px 82px 159px 175px;

    h2 {
        margin-bottom: 40px;
    }

    p {
        margin-bottom: 40px;
    }
}

//FEATURE SECTION

.bgGray2 {
    background-color: $gray2;
}

.productFeaturesTittle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 175px;
    margin-top: 140px;

    div {
        margin-right: 70px;
    }
}

.featureOverline {
    display: flex;
    align-items: center;

    p {
        margin-right: 8px;
    }
}

.featureTittle {
    width: 370px;
    height: auto;

    h2 {
        margin-bottom: 24px;
    }
}

.productFeatureContent {
    max-width: 945px;
    margin: auto;
    margin-top: 125px;
    margin-bottom: 80px;
}

.ftAttribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.ftAttributeTextContainer {
    width: 50%;
    height: auto;
}

.ftAttributeText {
    width: 320px;
    height: auto;

    h4 {
        margin-bottom: 16px;
    }
}

.ftAttributeImage {
    width: 50%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}

#twoFtAttribute {
    flex-direction: row-reverse;
}

#twoTextContainer {
    display: flex;
    justify-content: flex-end;
}

//Allies page
    //Ally Section


.alliesHero {
    width: 1200px;
    max-width: 1200px;
    margin: 0px auto;
}

.alliesContainer {
    margin-top: 80px;
}

.mainAllyStructure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainAllyText {
    width: 460px;
    height: auto;
    h2 {
        margin: 40px 0px;
    }
    form {
        margin-top: 40px;
    }
}

.alliesCards {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    //resultsSection
.resultsSection {
    background-color: $green1;
}

.resultsContent {
    width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.resultsNumbers {
    width: 260px;
    height: auto;
    padding: 16px;
    h5 {
        margin-bottom: 16px;
    }
}

//Team

.scFour {
    background-image: url('../images/showcase_image4.jpg');
    background-repeat: no-repeat;
}

.scFive {
    background-image: url('../images/showcase_image5.jpg');
    background-repeat: no-repeat;
}

.scSix {
    background-image: url('../images/showcase_image6.jpg');
    background-repeat: no-repeat;
}